pygithub==2.4.0
python-dotenv~=1.0.1
pandas~=2.2.3
requests~=2.32.3
nltk~=3.9.1
marko~=2.1.2
demoji~=1.1.0
torch~=2.4.1
numpy~=2.1.2
plotly~=5.24.1
transformers~=4.45.2
scikit-learn~=1.5.2
swifter~=1.4.0
joblib~=1.4.2
tqdm~=4.66.5
sympy~=1.13.3